@font-face {
	font-family: 'Holy Mackerel Outline';
	src: url('font/HolyMackerelOutline.eot?#iefix') format('embedded-opentype'), 
		 url('font/HolyMackerelOutline.woff') format('woff'), 
		 url('font/HolyMackerelOutline.ttf')  format('truetype'),
		 url('font/HolyMackerelOutline.svg#svgFontName') format('svg');
}



body {
	background: url(../images/bg.gif);
	font-family: "Holy Mackerel Outline";
}
#intro {
	background: transparent;
	background: rgba(255, 255, 255, 0.25);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#3FFFFFFF', EndColorStr='#3FFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3FFFFFFF', EndColorStr='#3FFFFFFF');
	zoom: 1!important;
}
#logo {
	padding: 0.5em;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#links {
	list-style: none;
	text-align: center;
	font-size: 1.6em;
}
:link, :visited {
	color: #fff;
}
:link:focus, :visited:focus {
	outline: 1px dotted;
}
:link:hover, :visited:hover {
	-webkit-transition: color ease-in-out .35s, background-color .3s linear;
	-moz-transition: color ease-in-out .35s, background-color .3s linear;
	-o-transition: color ease-in-out .35s, background-color .3s linear;
	transition: color ease-in-out .35s, background-color .3s linear;
}
:link:active, :visited:active {}
