/*
@font-face {
	font-family: 'Holy Mackerel Outline';
	src: url('font/HolyMackerelOutline.eot?#iefix') format('embedded-opentype'), 
		 url('font/HolyMackerelOutline.woff') format('woff'), 
		 url('font/HolyMackerelOutline.ttf')  format('truetype'),
		 url('font/HolyMackerelOutline.svg#svgFontName') format('svg');
}
*/

* {
	padding: 0;
	margin: 0;
}

body {
	background: url(../images/bg.gif);
}

/*
#intro {
	background: transparent;
	background: rgba(219, 238, 244, 0.25);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#3FDBEEF4', EndColorStr='#3FDBEEF4')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3FDBEEF4', EndColorStr='#3FDBEEF4');
	zoom: 1!important;
	width: 100%;
}
*/
#intro {
	
	/*
	background: -moz-linear-gradient(top, rgba() 0%, rgba() 50%, rgba() 51%, rgba() 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba()), color-stop(50%,rgba()), color-stop(51%,rgba()), color-stop(100%,rgba()));
	background: -webkit-linear-gradient(top, rgba() 0%,rgba() 50%,rgba() 51%,rgba() 100%);
	background: -o-linear-gradient(top, rgba() 0%,rgba()) 50%,rgba() 51%,rgba() 100%);
	background: -ms-linear-gradient(top, rgba() 0%,rgba() 50%,rgba() 51%,rgba() 100%);
	background: linear-gradient(top, rgba() 0%,rgba() 50%,rgba() 51%,rgba() 100%);
	*/
	
	
	background: transparent;
	background: rgba(219, 238, 244, 0.25);
	
	background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(241,241,241,0.35) 50%, rgba(225,225,225,0.35) 51%, rgba(246,246,246,0.15) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(50%,rgba(241,241,241,0.35)), color-stop(51%,rgba(225,225,225,0.35)), color-stop(100%,rgba(246,246,246,0.15)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(241,241,241,0.35) 50%,rgba(225,225,225,0.35) 51%,rgba(246,246,246,0.15) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(241,241,241,0.35) 50%,rgba(225,225,225,0.35) 51%,rgba(246,246,246,0.15) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(241,241,241,0.35) 50%,rgba(225,225,225,0.35) 51%,rgba(246,246,246,0.15) 100%);
	background: linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(241,241,241,0.35) 50%,rgba(225,225,225,0.35) 51%,rgba(246,246,246,0.15) 100%);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#3FDBEEF4', EndColorStr='#3FDBEEF4')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3FDBEEF4', EndColorStr='#3FDBEEF4');
	
	zoom: 1!important;
	width: 100%;
}

#logo {
	padding: 0.5em 0 0;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#links {
	list-style: none;
	text-align: center;
	font-size: 1.6em;
	line-height: 1.46;
	padding: 0 1em 1em;
}

.link:hover:before {
  content: "{ ";
}
.link:hover:after {
  content: " }";
}


:link, :visited {
	color: #fff;
	text-shadow: 1px 1px 2px #333;
}
:link:focus, :visited:focus {
	outline: 1px dotted;
}
:link:hover, :visited:hover {
	transition: color ease-in-out .35s, background-color .3s linear;
	text-decoration: none;
	/* background: rgba(255, 255, 0, 0.75); */
}