@font-face {
	font-family: 'Holy Mackerel Outline';
	src: url('font/HolyMackerelOutline.eot?#iefix') format('embedded-opentype'), 
		 url('font/HolyMackerelOutline.woff') format('woff'), 
		 url('font/HolyMackerelOutline.ttf')  format('truetype'),
		 url('font/HolyMackerelOutline.svg#svgFontName') format('svg');
}



body {
	background: url(../images/bg.gif);
	font-family: "Holy Mackerel Outline";
	width: 100%;
	height: 100%;
}
#intro {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	background: rgba(255, 255, 255, 0.25);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#3FFFFFFF', EndColorStr='#3FFFFFFF')";
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3FFFFFFF', EndColorStr='#3FFFFFFF');
	zoom: 1!important;
}
#logo {
	padding: 0.5em;
	margin: 0 auto;
	display: block;
	text-align: center;
}