@font-face {
	font-family: 'Holy Mackerel Outline';
	src: url('font/HolyMackerelOutline.eot?#iefix') format('embedded-opentype'), 
		 url('font/HolyMackerelOutline.woff') format('woff'), 
		 url('font/HolyMackerelOutline.ttf')  format('truetype'),
		 url('font/HolyMackerelOutline.svg#svgFontName') format('svg');
}


body {
	background: url(../images/bg.gif);
	font-family: "Holy Mackerel Outline";
}

#intro {
	width: 100%;
	position: relative;
	box-shadow: inset 0 0 320px rgba(255, 255, 255, 0.35);
}
#logo {
	padding: 1em;
	margin: 0 auto;
	display: block;
	text-align: center;
}