.aqua {
	background: aqua;
}
.black {
	background: black;
	color: white;
}
.blue {
	background: blue;
	color: white;
}
.fuchsia {
	background: fuchsia;
	color: white;
}
.gray {
	background: gray;
}
.grey {
	background: grey;
}
.green {
	background: green;
	color: white;
}
.lime {
	background: lime;
}
.maroon {
	background: maroon;
	color: white;
}
.navy {
	background: navy;
	color: white;
}
.olive {
	background: olive;
}
.purple {
	background: purple;
	color: white;
}
.red {
	background: red;
	color: white;
}
.silver {
	background: silver;
}
.teal {
	background: teal;
	color: white;
}
.white {
	background: white;
}
.yellow {
	background: yellow;
}