---
layout: post
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.title }}</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="//beijingyoung.com/images/animated.gif">
	<link rel="stylesheet" href="//beijingyoung.com/public/css/reset.css">
	<link rel="stylesheet" href="//beijingyoung.com/css/style.css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 7.]><script defer type="text/javascript" src="//beijingyoung.com/public/js/pngfix.js"></script><![endif]-->

</head>
<body id="post">
	
	
	<article id="main" role="article">
		<h1>{{ page.title }}</h1>
		{{ content}}
	<article>
	
	
	<nav role="navigation">
		<ul>
			<li><a id="backtop" href="#main"><abbr title="Back Top"><span class="keymap">&#x2305;</span> + <span class="keymap">T</span></abbr></a></li>
			<li><a id="backhome" href="{{ site.url }}/archives.html"><abbr title="Back Home"><span class="keymap">&#x21E7;</span> + <span class="keymap">H</span></abbr></a></li>
			{% if page.previous %}
			<li><a rel="prev" id="previtem" href="{{ site.url }}{{ page.previous.url }}"><abbr title="Previous"><span class="keymap">&#x2190;</span> + <span class="keymap">P</span></abbr></a></li>
			{% endif %}
			{% if page.next %}
			<li><a rel="next" id="nextitem" href="{{ site.url }}{{ page.next.url }}"><abbr title="Next"><span class="keymap">&#x2192;</span> + <span class="keymap">N</span></abbr></a></li>
			{% endif %}
		</ul>
	</nav>
	
	
	<footer id="footer" role="contentinfo">
		
		<form role="search" id="searchform" action="http://www.google.com/search" method="get">
			<input type="hidden" name="q" value="site:beijingyoung.com">
			<input type="search" name="q">
			<button type="submit">Search</button>
		</form>
		
		<p>&copy; 2012 All Rights Reserved.</p>
		
	</footer>


<script>


if (document.forms[0].elements) {
	for (i = 0; i < document.forms[0].elements.length; i++) {
		document.forms[0].elements[i].onclick = function() {
			var e = targetelement();
			e.focus();
			e.select();
		};
	}
}


document.onkeyup = keyup;
function clearactive() {
	var e = document.getElementById("backtop");
	if (e) { e.className = ""; }
	e = document.getElementById("backhome");
	if (e) { e.className = ""; }
	e = document.getElementById("previtem");
	if (e) { e.className = ""; }
	e = document.getElementById("nextitem");
	if (e) { e.className = ""; }
}


function keyup(e) {
	
	var kid = (window.event) ? event.keyCode : e.keyCode;
	var nid = "";
	
	switch(kid) {
		
		case 38:
		case 84:
		nid = "backtop";
		break;
		
		case 72:
		nid = "backhome";
		break;
		
		case 37:
		case 80:
		nid = "previtem";
		break;
		
		case 39:
		case 78:
		nid = "nextitem";
		break;
	}
	
	if (nid != "") {
		ne = document.getElementById(nid);
		if (ne) {
			ne.className = "active";
			doevent(ne, "click");
			window.onunload = clearactive;
		}
	}
	
}


function doevent(el, evt) {
	if (evt=="click" && el.tagName=='A') {
		window.location = el.href;
		return true;
	}
	if (document.createEvent) {
		var eo = document.createEvent("HTMLEvents");
		eo.initEvent(evt, true, true);
		return !el.dispatchEvent(eo);
	} 
	else if (document.createEventObject) {
		return el.fireEvent("on"+evt);
	}
}


</script>

</body>
</html>