---
layout: post
---

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ page.title }}</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="//beijingyoung.com/images/animated.gif">
	<link rel="stylesheet" href="//beijingyoung.com/public/css/reset.css">
	<link rel="stylesheet" href="//beijingyoung.com/css/style.css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 7.]><script defer type="text/javascript" src="//beijingyoung.com/public/js/pngfix.js"></script><![endif]-->

</head>
<body id="post">
	
	
	<article id="main" role="article">
		<h1>{{ page.title }}</h1>
		{{ content}}
	</article>
	
	
	<nav role="navigation">
		<ul>
			<li class="clearfix"><a id="backtop" href="#main"><abbr title="Back Top"><span class="keymap">&#x2305;</span> &amp; <span class="keymap">T</span></abbr></a></li>
			<li class="clearfix"><a id="backhome" href="{{ site.url }}/archives.html"><abbr title="Back Home"><span class="keymap">&#x21E7;</span> &amp; <span class="keymap">H</span></abbr></a></li>
			{% if page.previous %}
			<li class="clearfix"><a rel="prev" id="previtem" href="{{ site.url }}{{ page.previous.url }}"><abbr title="Previous"><span class="keymap">&#x2190;</span> &amp; <span class="keymap">P</span></abbr></a></li>
			{% endif %}
			{% if page.next %}
			<li class="clearfix"><a rel="next" id="nextitem" href="{{ site.url }}{{ page.next.url }}"><abbr title="Next"><span class="keymap">N</span> &amp; <span class="keymap">&#x2192;</span></abbr></a></li>
			{% endif %}
		</ul>
	</nav>
	
	
	<footer id="footer" role="contentinfo">
		
		<form role="search" id="searchform" action="http://www.google.com/search" method="get">
			<input type="hidden" name="q" value="site:beijingyoung.com">
			<input type="search" name="q">
			<button type="submit">Search</button>
		</form>
		
		<p>&copy; 2012 All Rights Reserved.</p>
		
	</footer>
	
	<script src="{{ site.url }}/public/js/keyevent.js"></script>
	
</body>
</html>